node_modules/
.expo/
dist/
web-build/
android/.gradle/
android/build/
android/app/build/
modules/usage-stats/android/build/
modules/usage-stats/android/.gradle/
modules/notification-listener/android/build/
modules/notification-listener/android/.gradle/
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.metro-health-check*
*.tsbuildinfo
