<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <application>
    <service android:name="expo.modules.notificationlistener.CaptureRetryService"
      android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
  </application>
</manifest>
